<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
    <h2 class="ion-padding-start">Categorias</h2>

    <ion-grid>
        <ion-row>
            <ng-container *ngIf="categories && categories.length > 0">
                <ion-col size="6" *ngFor="let c of categories; let i = index">
                    <ion-card (click)="goToItem(c.id)">
                        <ion-card-header>
                            <ion-icon name="bookmark" style="font-size: 24px"></ion-icon>
                            <ion-card-title>{{ c.name }}</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>