<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Novo item</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="basic-center" style="height: calc(100% - 80px);">
        <ion-list lines="none" style="width: 100%; background: transparent;">
            <ion-item style="background: transparent !important;">
                <ion-input type="text" [(ngModel)]="name" placeholder="Nome"></ion-input>
            </ion-item>
        </ion-list>
    </div>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="create()" [disabled]="!name">
            <ng-container *ngIf="isLoading">
                <ion-spinner></ion-spinner>
            </ng-container>
            <ng-container *ngIf="!isLoading">
                Criar item
            </ng-container>
        </ion-button>
    </div>
</ion-content>