<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container ion-padding-horizontal">
        <ion-img src="assets/images/ideia.svg" style="width: 150px; margin: 0 auto;"></ion-img>
        <h3>Bem vindo ao Daily Tools</h3>
        <p>Aqui você terá em mãos algumas ferramentas úteis para o seu dia a dia.</p>
    </div>
</ion-content>